.title {
  font-size: 20px;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: #353233;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.archivo-black-regular {
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.button-text {
  align-items: center;
  justify-content: center;
}

.generic-button {
  background-color: #353233;
  color: azure;
  border-radius: 30px;
  width: 80px;
  height: 30px;
  border: none;
  font-weight: 400;
}

.spacer {
  flex-grow: 1;
}

.button-none {
  border: none;
  background-color: white;
  cursor: pointer;
}

.logo {
  height: 30px; /* Taille du logo */
  width: auto;
}

.arrow-button {
  background-color: #d3d0d14f;
  border: none;
  cursor: pointer;
  height: 60px;
}

.web-container {
  flex: 1;
  width: 100%;
  height: 1000px;
  background-color: #fafafaf8;
}
