.title {
  font-size: 20px;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: #353233;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
