.widgets {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
}

.twins {
  display: flex;
  flex-direction: row;
}

.twin2 {
  margin-top: 20px;
}

.twin3 {
  margin-top: 5px;
  margin-left: 20px;
}

.widget-large {
  grid-column: span 2;
}
.widget-tall {
  grid-row: span 2;
}
