.widgets {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem;
  padding: 2rem;
  flex-wrap: wrap;
}

.widget-large {
  grid-column: span 2;
}
.widget-tall {
  grid-row: span 2;
}
