.mostdownloaded-container {
  flex: 1;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 200px;
  width: 700px;
  background-color: rgba(145, 180, 211, 0.521);
  padding: 10px;
  margin: 10px;
  border-radius: 1rem;
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge Legacy */
}

.most-popular-sounds-container::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge (Blink/Webkit) */
}

.space {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
  padding: 10px;
}

.download-list {
  display: flex;
  flex-direction: row;
  margin: 0 8px;
  padding: 8px;
  gap: 16px;
  flex-wrap: nowrap; /* horizontal scroll */
  overflow-x: auto;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}
