.container {
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 600px;
  width: 500px;
  background-color: rgba(145, 180, 211, 0.521);
  padding: 10px;
  margin: 10px;
  border-radius: 1rem;
}

.space {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
  padding: 10px;
}
