.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-bar {
  width: 100%; /* Prend toute la largeur */
  display: flex; /* Affiche en ligne les enfants */
  flex-direction: row; /* Horizontalement */
  align-items: center; /* Centre verticalement */
  gap: 160px;
  padding: 10px 20px;
  background-color: #ffffff; /* Couleur de fond de la navbar */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* BRILLANT */
}

.soundmachine-logo {
  height: 50px; /* Taille du logo */
  width: auto;
}
.nav-bar {
  flex: auto;
  flex-direction: row;
}

.nav-button {
  background-color: rgb(255, 255, 255);
  border: none;
  cursor: pointer;
}
