.popular-category-container {
  flex: 1;
  flex-direction: column;
  background-color: rgb(245, 202, 210);
  border-radius: 1rem;
  width: 400px;
  height: 280px;
  z-index: 20;
  align-items: center;
  justify-content: center;
}

.title {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Archivo Black", sans-serif;
  font-size: 20px;
  font-weight: 100;
  font-style: normal;
}
